# =========================
# Python / Django
# =========================
.venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
media/
staticfiles/

# =========================
# Frontend (React / Vite)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.vite/

# =========================
# IDE / OS
# =========================
.vscode/
.DS_Store
Thumbs.db
